#GENERAL
*.tproj
.project
*.sqdev
.settings
node_modules
package-lock.json
*.pbo
*.tmp

#VSCODE
.vscode/ipch/*
.vscode/settings.json
src/.vscode/ipch/*
.vscode/sqfvm-lsp

#BUILD
_build
tools/_build
tools/_buildID.txt
*/src

#TEMP
temp
temp/*
temp.sqf

#BACKUPS
mission.sqm.old*
.ccls-cache/
